/* CSS cho Invoice */
.invoice-container1 {
    opacity: 1.0;
    margin-top: 20px; /* Đẩy xuống một chút từ phần trên */
    display: flex;
    margin-left: 1200px;
}

/* CSS cho ảnh logo */
.invoice-container1 img {
    max-width: 120px; /* Giảm kích thước ảnh để không vượt quá chiều rộng của container */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh được giữ nguyên */
}

.invoice-details {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Tách biệt invoice details từ logo */
}

.invoice-details .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-details .table th,
.invoice-details .table td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.invoice-details .table th {
    text-align: left;
    font-weight: bold;
}

.invoice-details .total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
}

/* Thay đổi nút Gửi Báo Giá */
.btn-send-quote1,
.btn-deposit1 {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    border: none;
    letter-spacing: 2px;
    min-width: 140px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 12px 24px;
    color: #fff;
}

.btn-send-quote1 {
    background-color: #28a745; /* Màu nút Gửi Báo Giá */
    margin-right: 10px; /* Tạo khoảng cách giữa các nút */
}

.btn-deposit1 {
    background-color: #07a0ff; /* Màu nút Đặt cọc */
}

.btn-send-quote1:hover,
.btn-deposit1:hover {
    opacity: 0.8;
}
