@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container-item * {
    font-family: 'Poppins', sans-serif;
}

.container-item {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    overflow: auto;
    position: fixed; /* hoặc position: absolute; */
    left: 0; /* Đặt vị trí bên trái của màn hình */
    top: 0; /* Đặt vị trí bên trên của màn hình */
    height: 100%; /* Đặt chiều cao để lấp đầy màn hình */
    margin-left: 20px;
}


.container-item h1 {
    color: #004985;
}

.container-item #table-container-item {
    overflow: auto;
}

.container-item table {
    margin-top: 28px;
    max-width: 1000px;
    height: 800px;
    text-align: center;
    min-width: 40rem;
    width: 100%;
    border-collapse: collapse; /* Xoá đường biên giữa các ô */
}

.container-item table tbody:last-child {
    box-shadow: 0px 1px #004985;
}

.container-item table tbody tr:nth-child(even) {
    background-color: #00648512;
}

.container-item table thead {
    background: #004985;
    color: white;
}

.container-item table tbody:last-child td {
    padding: 19px 0;
}

.container-item td img {
    width: 90px;
    height: auto;
}

.container-item th,
.container-item td {
    padding: 10px;
    font-size: 13px;
}

.container-item .Remove-item {
    background: #004985;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container-item .Add-item,
.container-item #addTotable {
    color: #004985;
    border: 1px solid #004985;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

