body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container_1 {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #DDD;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background:url(../../img/registerpage/3.jpg) no-repeat; /* Thay đổi đường dẫn đến hình nền của bạn */
  background-size: cover;
  background-position: center;
}

.title_1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(104, 238, 193);
}

.content_1 {
  margin-top: 10px;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.input-box {
  margin-right: 20px;
  width: calc(100% - 40px);
}

.details {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #b5d818;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #666666;
}

.gender-details {
  margin-top: 20px;
}

.gender-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #b5d818;
}

.category {
  display: flex;
  flex-wrap: wrap;
}

.gender {
  margin-right: 20px;
  font-size: 16px;
  color: #b5d818;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.button input {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: #0099ff;
}

.error {
  color: #FF0000;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .container_1 {
    width: 90%;
  }
}
