/* CSS */
.icon-list {
    list-style: none;
    padding: 0;
  }
  
  .icon-list li {
    padding-top: 3px;
    margin-bottom: 2px;
    font-size: 16px;
    display: flex;
    align-items: center; /* Giữ cho icon và văn bản căng giữa */
  }
  
  .icon-list li i {
     /* Màu sắc giống button */
    font-size: 20px;
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
  }
  
  .highlight span {
    color: #00132C; /* Màu sắc giống button */
    font-weight: bolder;
    font-size: 16px; /* Kích thước font giống button */
  }
  
  /* Thêm các lớp CSS của button cho nút */
  .button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-51:hover,
  .button-51:active {
    outline: 0;
  }
  
  .button-51:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  .button-51:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  
  .button-51:hover:before {
    background-color: #6DCFF6;
  }
  
  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }
  }
  